<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Santa</title>
</head>
<body>
    <h1>Secret Santa</h1>
    <h3>Participants</h3>
    <ul>
        <% for (let santa of santas) { %>
            <li>
                <%= santa.name %>
                <a href="/santa/<%= santa.id %>">Info</a>
            </li>
        <% } %>
    </ul>
</body>
</html>