<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secret Santa</title>
</head>
<body>
    <h1>Secret Santa</h1>
    <a href="/santa/login">Login</a>
    <a href="/santa/register">Register</a>
</body>
</html>