<%- include('partials/header') %>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1 class="display-1 text-center">Welcome to Secret Santa</h1>
        <form action="/" method="post">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h2>Login</h2>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row mb-3">
                <div class="col-2"></div>
                <div class="col-8">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" type="text" placeholder="username" name="username">
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row mb-3">
                <div class="col-2"></div>
                <div class="col-8">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" type="password" placeholder="password" name="password">
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row mb-3">
                <div class="col-2"></div>
                <div class="col-8">
                    <button type="submit" class="btn btn-primary form-control">Login</button>
                </div>
                <div class="col-2"></div>
            </div>
        </form>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                Don't have an account? <a href="/register">Register</a>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
<%- include('partials/footer') %>