<%- include('partials/header') %>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/" method="post">
        <section>
            <label for="username">Username: </label>
            <input id="username" type="text" placeholder="username" name="username">
        </section>
        <section>
            <label for="password">Password: </label>
            <input id="password" type="password" placeholder="password" name="password">
        </section>
        <button>Login</button>
    </form>
    <a href="/register">Register</a>
<%- include('partials/footer') %>